@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

@mixin flex($direction, $justify, $items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $items;
}

@mixin for-mobile {
  @media (max-width: 900px) {
    @content;
  }
}

$cream-color: #f6e7c6;
h3, p {
  color: $cream-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background-image: url(./images/ffflux.svg);
  background-image: url(./images/leonbackground.png);
  background-size: cover;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-wrapper {
  // width: 100%;
  height: 100vh;
  position: relative;
  // overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header { // LEON LOGO
  position: relative;
  color: #f6e7c6;
  text-shadow: 1px 1px 8px #00000093;
  letter-spacing: 2rem;
  h1 {
    font-size: 10rem;
  }
  img {
    height: 70%;
    width: 70%;
  }
}

.wrapper {
  @include flex(column, center, center);
  position: relative;
  gap: 1rem;
  .heading-3 {
    color: $cream-color;
    letter-spacing: 2px;
  }
  .heading-3.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0)
  }
  .image {
    position: relative;
    width: 40%;
  }
  .records-container {
    @include flex(column, center, center);
    width: 40%;
    margin-bottom: 6rem;
    .heading-3 {
      font-size: 1.5rem;
    }
    .album:first-of-type {
      margin-bottom: 4rem;
    }
    .image {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  @include for-mobile {
    .records-container {
      width: 90%;
    }
    .image {
      width: 90%;
    }
  }
}

a {
  text-decoration: none;
}

.scrolled {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(150%);
  transition: all 1s;
}

.scrolled.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.buttons {
  position: relative;
  @include flex(row, space-between, center);
  width: 40%;
  margin: 3rem 0 3rem 0;
  @include for-mobile {
    margin: 0;
  }
  button {
    padding: .5rem 0;
    border: 2px solid $cream-color;
    background: none;
    color: $cream-color;
    font-size: 18px;
    font-weight: 800;
    width: 45%;
    cursor: pointer;
    letter-spacing: 2px;
  }
  button:hover {
    background: url(./images/leon_gloomy.jpeg);
  }
}

@include for-mobile {
  .buttons {
    @include flex(column, center, center);
    gap: 1rem;
    width: 90%;
  }
  .button-primary {
    min-width: 100%;
  }
  video {
    display: none;
  }
}

.socials {
  @include flex(row, center, center);
  position: relative;
  width: 100%;
  color: #f6e7c6;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  .fa-brands {
    display: grid;
    place-items: center;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    filter: blur(5px);
    opacity: 0;
    transition: 1s;
    transform: translateX(-80%);
  }
  .fa-brands.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0)
  }
  .fa-brands:hover {
    transition: ease-in-out 0s;
    transition-delay: 0ms;
    color: #ff992c;
  }
}

.tour-dates {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #f6e7c629;
  @include for-mobile {
    width: 90%;
    padding: 0;
    gap: 1rem;
  }
  h3 {
    margin: 0 auto;
  }
  .date {
    @include flex(row, space-between, center);
  }
  .heading {
    margin-bottom: 4rem;
  }
  .button-secondary {
    @include flex(row, center, center);
  }
  .tour-small-h {
    font-size: 1.5rem;
  }
  .acts {
    margin-bottom: 0;
    @include for-mobile {
      width: 70%;
    }
  }
  button {
    border: none;
    color: $cream-color;
    background: none;
    font-size: .8rem;
    padding: .2em .8em;
    border: 1px solid $cream-color;
    &:hover {
      background: url(./images/leon_gloomy.jpeg);
    }
  }
}

.past-ask {
  margin-bottom: 6rem;
  text-decoration: none;
  text-decoration: underline;
  color: $cream-color;
  cursor: pointer;
}

.youtube {
  position: relative;
  @include flex(row, center, center);
  margin-top: 2rem;
  iframe {
  width: 40%;
  }
}

footer {
  @include flex(column, center, center);
  position: relative;
  color: #f6e7c6;
  height: 5rem;
  bottom: 0;
}

// @media(prefers-reduced-motion) {
//   .hidden {
//     transition: none;
//   }
// }

.fa-brands:nth-child(2) {
  transition-delay: 200ms;
}
.fa-brands:nth-child(3) {
  transition-delay: 400ms;
}
.fa-brands:nth-child(4) {
  transition-delay: 600ms;
}
.fa-brands:nth-child(5) {
  transition-delay: 800ms;
}
.fa-brands:nth-child(6) {
  transition-delay: 1000ms;
}

.tour-dates {
  transition-delay: 5;
}